{% extends 'base.html' %}

{% block content %}
<h1>Password Changed</h1>
<p>Congratulations, you have changed you password</p>
<dl>
    <dt>You new password is: <b>{{ password }}</b></dt>
</dl>
{% if not user.is_authenticated %}
<p><b>You have successfully registered yourself... Please <a href="/accounts/login">login here</a></b></p>
{% endif %}
{% endblock %}

{% extends 'base.html' %}
{% load static %}

{% block content %}
<article class="post">
    <header>
        <div class="title">
            <h2>Password Changed/h2>
            <p>Congratulations, you have changed you password</p>
        </div>
    </header>
    <dl>
        <dt>You new password is: <b>{{ password }}</b></dt>
    </dl>
    {% if not user.is_authenticated %}
    <p><b>You have successfully registered yourself... Please <a href="/accounts/login">login here</a></b></p>    
    {% endif %}
</article>
{% endblock %}