{% extends 'base.html' %}

{% block header %}
<li><a href="/">Home</a></li>
{% endblock %}

{% block menu %}
<li>
    <a href="/">
        <h3>Home</h3>
    </a>
</li>
{% endblock %}

{% block content %}
<article class="post">
    <header>
        <div class="title">
            <h2>Password Changed</h2>
            <p>Congratulations, you have changed you password</p>
        </div>
    </header>
    <dl>
        <dt>You new password is: <b>{{ password }}</b></dt>
    </dl>
    {% if not user.is_authenticated %}
    <p><b>You have successfully changed your password... Please <a href="/accounts/login">login here</a></b></p>    
    {% endif %}
</article>
{% endblock %}