{% extends 'base.html' %}
{% load static %}

{% block content %}
<article class="post">
    <header>
        <div class="title">
            <h2>Change password</h2>
            <p>Verify yourself and change your password</p>
        </div>
    </header>
    <form action="/accounts/reset-password-verify-email/" method="post">
        {% csrf_token %}
        {% for message in messages %}
        <font color="red">{{ message }} <br /></font><br />
        {% endfor %}
        <input type="email" name="email" placeholder="Email" required><br />
        <input type="submit" class="button icon solid fa-search" value="Verify">
    </form>
</article>
{% endblock %}