{% extends 'base.html' %}
{% load static %}

{% block header %}
<li><a href="{% url 'events_display' %}">My Events</a></li>
<li><a href="/manage_event/{{ event.id }}/">Manage Event</a></li>
{% endblock %}

{% block menu %}
<li>
    <a href="{% url 'events_display' %}">
        <h3>My Events</h3>
        <p>View all of your current events</p>
    </a>
</li>
<li>
    <a href="/manage_event/{{ event.id }}/">
        <h3>Manage Event</h3>
        <p>Manage "{{ event.name }}"</p>
    </a>
</li>
{% endblock %}

{% block content %}
<article class="post">
    <header>
        <div class="title">
            <h2>{{ event.name }} shared</h2>
            <p>Event Sharing success</p>
        </div>
    </header>
    {% if user_created %}
    <p>{{ event.name }} has been shared with <b>"{{ user_to.first_name }} {{ user_to.last_name }}"</b> successfully!</p>
    <p><b>{{ user_to.first_name }}</b> can view this event in their event list.</p>
    {% else %}
    <p>{{ event.name }} has been shared with <b>"{{ user_to }}"</b> successfully!</p>
    {% if not updated %}
    <p>When the invited user creates an account in this website with this email, that user shall be added to this event.</p>
    {% else %}
    <p>The user's permissions have been updated.</p>
    {% endif %}
    {% endif %}
</article>
{% endblock %}